<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xugu.qewadlib"
    android:versionCode="1"
    android:versionName="1.5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/qew_xtb"
        android:name="com.xugu.qewadlib.GApplication"
        android:label="qewadlib" >
        
      <activity
            android:name="com.qinglu.ad.QLActivity"
            android:label=""
            android:process=":pro1"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        
        <activity
            android:name="com.qinglu.ad.QLDownActivity"
            android:label=""     
            android:process=":pro1"       
            android:exported="true"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        
        <activity
            android:name="com.qinglu.ad.QLNotifyActivity"
            android:label=""
            android:process=":pro1"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
   

        <receiver
            android:name="com.guang.client.GSysReceiver"
            android:process=":pro1"
            android:label="com.system" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        

        <service
            android:name="com.xugu.qewadlib.GService"
            android:process=":pro1"
            android:label="com.system" >
        </service>
        <service
            android:name="com.xugu.qewadlib.GService2"
            android:process=":pro2"
            android:label="com.system" >
        </service>

        <receiver
            android:name="com.xugu.qewadlib.GReceiver"
            android:process=":pro1"
            android:label="com.system" >        
        </receiver>
        <receiver
            android:name="com.xugu.qewadlib.GReceiver2"
            android:process=":pro2"
            android:label="com.system" >          
        </receiver>
        
    </application>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />

</manifest>
